$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$breakpoint-xs: 768px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

@mixin breakpoint($breakpoint) {
    @if $breakpoint == xs {
        @media screen and (max-width: $breakpoint-xs) { @content; }
    } @else if $breakpoint == sm-left {
        @media screen and (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == sm {
        @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == sm-right {
        @media screen and (min-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md-left {
        @media screen and (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == average {
        @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == md {
        @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == md-right {
        @media screen and (min-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
        @media screen and (min-width: $breakpoint-lg) { @content; }
    } @else {
        @media screen and (min-width: $breakpoint) { @content; }
    }
}


// https://habrahabr.ru/post/272921/
/*
    @function remy($pxsize) {
        @return ($pxsize/16)+rem;
    }
    h1 { font-size: remy(32);}

    @mixin remy ($pxsize) {
        font-size: ($pxsize/16)+rem;
    }
    h1 { @include remy(32);}
*/




.responsive--wide {
    width: 100%;
}
.responsive--slim {
    margin: 0 auto;
    max-width: 960px;
    @include breakpoint($breakpoint-tablet) {
        width: 100%;
    }
}
.responsive--tricky {
    margin: 0 auto;
    max-width: 960px;
    @include breakpoint($breakpoint-tablet) {
        width: 100%;
    }
}
